---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2024",
    title: "Principal Software Engineer",
    company: "Centro de Terapia y rehabilitación Dorita de Ojeda",
    description:
      "Total restructuring of the web running system using an MVC architecture.",
    link: "https://www.facebook.com/EstanciaAlzObregon/?locale=es_LA",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
