---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
    {
        date: 'May 2023 - Jul 2024',
        title: 'Full Stack Developer',
        company: 'Estancia Alzheimer Dorita de Ojeda, I.A.P.',
        description:
            'A total restructuring of the web running system using an MVC architecture. As a team, We improve system flexibility, scalability, and extensibility. For this, tools such as NodeJS, ExpressJS, and Mongoose were used.',
        link: 'https://www.facebook.com/EstanciaAlzObregon/?locale=es_LA',
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
